@import "tailwindcss";

html {
  scroll-behavior: smooth;
  /* Enables smooth scrolling */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.footer-title::after {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  bottom: -9px;
  left: 8px;
  top: 9px;
  background: #bf0a30;
}

.footer-title::before {
  content: "";
  width: 31px;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 15px;
  background: #bf0a30;
}

.title-separator {
  background-color: #bf0a30;
  margin: 0 auto;
  width: 70px;
  height: 4px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

.title-separator::before {
  content: "\e648";
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  margin: auto;
  border-radius: 6px;
  transform: rotate(2deg);
  font-family: "themify";
  font-weight: 900;
  font-size: 45px;
  color: #fff;
  text-align: center;
}

.prose img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
}