@import "tailwindcss";

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.footer-title::after {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  bottom: -9px;
  left: 8px;
  top: 9px;
  background: #bf0a30;
}

.footer-title::before {
  content: "";
    width: 31px;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 15px;
    background: #bf0a30;
}